
@media (min-width: 1120px){
    .cards-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        justify-items: center;
    }

    footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }
}

@media (min-width: 1000px) {
    .hamb-button, .close-button{
        display: none;
    }

    .logo-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .nav-menu{
        display: inline-block;
    }

    .hiddenMenu{
        display: block;
    }

    img.hero-image{
        height: 450px;
    }

    .history-container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .history-card-container{
        width: 700px;
        height: 700px;
    }

    .history-card-container h1{
        font-size: 1.5rem;
    }

    .history-card-container p{
        font-size: 1.2rem;
    }

    .img-random-bakery{
        width: 600px;
    }

    .contact-main-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 25px 25px;
    }

    .map{
        width: 500px;
        height: 500px;
    }

    .thanks-card-container{
        margin: 150px 150px;
        width: 800px;
    }

    .thanks-card-container h1{
        font-size: 2rem;
    }

    .local-storage p{
        font-size: 1.5rem;
    }

}
